<div class="footer">
    <div class="footer-content">
        <div class="footer-logo-container">
            <img src="/images/metulogo.png" alt="METU Logo" class="footer-logo">
        </div>

        <div class="footer-text">
            <p>
                <a href="/contact/">Contact Us</a> | 
                <a href="https://instagram.com/YOUR_INSTAGRAM" target="_blank">Follow Us on Instagram</a>
            </p>
            <p><a href="https://mete.metu.edu.tr/" target="_blank">METU METE</a></p>
            <p> MIStraLab, 2025</p>
        </div>
    </div>
</div>
